!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cmsruby
    = csrf_meta_tags
  %body
    .container
      = render template: '_nav'
      = content_tag :div, notice, class: 'flash bg-success' if notice
      = content_tag :div, alert, class: 'flash bg-danger' if alert
      = yield
